NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_NOTIFICATION_URL=http://localhost:5201
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./path-to-json.json
FILE_URL=https://storage.googleapis.com
PUBLIC_API_URL=http://localhost:5201
NEXT_PUBLIC_DEPLOYMENT_ENV=dev